nav {
    background-color:#0D0630  ; 
    padding: 10px 20px;
    text-align: center; 
}
nav ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}
nav ul li {
    display: inline-block; 
    margin-right: 20px; 
}
nav ul li a {
    color: white; 
    text-decoration: none;  
    font-size: 20px;  
    padding: 8px 16px;
}

body{
    background-color:#18314F;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.btn{
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #CC2936;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);   
}

.compteur, p{
    margin: 0;
    color : #fff;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
}

.joke{
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

