.button-container{
    display: flex;   
    justify-content: center;
    align-items: center;
}
.button-container button{
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);  
    background-color: #5d5d5d; 
}
.button-container .select{
    background-color: #CC2936;
}


.card-button{
    margin-left: 10px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #CC2936;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);   
}

.card-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: flex-start;
    
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 2px 1px #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    height: 180px;
    border: solid 1px #eee;
    color : #fff;
    background-color: #fff;
    text-align: center;
}

.PiqueLight{color: #000;}
.CarreauLight{color: #c30303;}
.TreflesLight{color: #282828;}
.CoeurLight{color: #ff0101;}

.PiqueClassic{background-color: #000;}
.CarreauClassic{background-color: #c30303;}
.TreflesClassic{background-color: #282828;}
.CoeurClassic{background-color: #ff0101;}

.GoldClassic{
    background-color: goldenrod;
    color: #000;
}
.GoldLight{
    color: goldenrod;
}

