

.controller {
    display: grid;
    grid-template-columns: 100px 100px 100px; 
    grid-template-rows: 100px 100px 100px 100px;  
    gap: 10px;
    width: max-content; 
    margin: auto; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controller .bout:nth-child(1) {
    grid-column: 2;
    grid-row: 1;    
}

.controller .bout:nth-child(2) {
    grid-column: 1;
    grid-row: 2;  
}

.controller .bout:nth-child(3) {
    grid-column: 3;
    grid-row: 2;   
}

.controller .bout:nth-child(4) {
    grid-column: 2;
    grid-row: 3;    
}
.controller .stat{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4;    
}

.bout {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  
}

.Pique{background-color: #000;}
.Carreau{background-color: #a50505;}
.Trefles{background-color: #282828;}
.Coeur{background-color: #de0c0c;}


.bout:active:not(:disabled) {
    background-color: #ccc;
}

.bout:disabled {
    cursor: not-allowed;   /* Curseur interdit */
    opacity: 0.6;          /* Transparence */
  }

.Visible{
    background-color: #ccc;
}